.button {
  background-color: #0b714192;
  color: black;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 30px;
  width: 160px;
  font-family: "ABeeZee", serif !important;
}

.button:hover {
  background-color: #0b7142;
  color: black;
}
