.button {
  color: rgb(0, 0, 0) !important;
  border: 0px !important;
  border-radius: 30px !important;
  padding: 0.7rem !important;
  background-color: rgba(11, 113, 65, 0.5) !important;
}

.button:hover {
  background-color: rgb(13, 128, 74) !important;
  color: white !important;
}
